<settings>
 <profiles>
   <profile>
     <id>gpuwa</id>
     <properties>
       <altSnapshotDeploymentRepository>spark.sw.nvidia.com::default::https://gpuwa.nvidia.com/artifactory/sw-spark-maven-local</altSnapshotDeploymentRepository>
       <altReleaseDeploymentRepository>spark.sw.nvidia.com::default::https://gpuwa.nvidia.com/artifactory/sw-spark-maven-local</altReleaseDeploymentRepository>
     </properties>
   </profile>
 </profiles>
</settings>
